{% extends "layout.html" %}

{% block title %}Flask - Voting Web{% endblock %}

<style>
    span:hover {
    background-color: white;
    color: black;
    }
</style>

{% block body %}
<body style="background-color: lightgray; margin-top: 5rem;">
    <br>
    <body style="margin-top: 5rem;">

        <div class="container">
            <div class="col-sm-3"></div>
                <!-- head background color -->
                <div class="col-sm-6" style="background-color: rgb(67 43 104);">
                    <br>
                    <p style="text-align: center;">
                        <a href="{{ url_for('index_page') }}" style="font-size: 50px; font-family:'Georgia'; color: #ffff;">
                            <strong> Voting Web </strong>
                        </a>
                        <a href="{{ url_for('index_page') }}" style="font-size: 20px; font-family: 'Brush Script MT', cursive; color: #ffff;">
                            <strong> by @federicocabreraf</strong>
                        </a>
                    </p>
                </div>
        </div>

        <div class="container">
            <div>
                <div class="col-sm-3"></div>
                    <div class="col-sm-6" style="background-color: rgb(236,236,236); padding: 2rem;">
                        <form method="post" action="{{url_for('vote_page')}}">
                            <div class="col-md-6 mx-auto">
                                <input type="text" class="form-control text-center" value="{{ btn.btn_1 }}" readonly style="font-size: 2rem; color: rgb(78	174	73);"></input>
                                <br>
                            </div>

                            <div class="col-md-6 mx-auto">
                                <input type="text" class="form-control text-center" value="{{ btn.btn_2 }}" readonly style="font-size: 2rem; color: rgb(205 61	62);"></input>
                                <br>
                            </div>
                        
                            <br><br>

                            <div class="col-md-6 mx-auto text-center">
                                <button type="submit" class="btn btn-success btn-block" id="sub_button" name="sub_button" value="button_1">Left</button>
                                <br> 
                            </div>
                            <div class="col-md-6 mx-auto text-center">
                                <button type="submit" class="btn btn-danger btn-block" id="sub_button" name="sub_button" value="button_2">Right</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="col-sm-3"></div>
            <!-- footer background color -->
            <div class="col-sm-6" style="background-color: rgb(35, 35, 35);">
                <br>
                <p style="font-family: Arial; font-size: 15px; text-align: center; color: #ffffff;">
                    <a href=""  style="color: #ffffff;"><span class="glyphicon glyphicon-envelope"></span></a>
                    <a href=""  style="color: #ffffff;"><span class="glyphicon glyphicon-play-circle"></span></a>
                    <a href=""  style="color: #ffffff;"><span class="glyphicon glyphicon-comment"></span></a>
                </p>
            </div>
        </div>
        <br>
    </body>
</body>
{% endblock %}

