{% extends "layout.html" %}

{% block title %}Flask - Voting Web{% endblock %}

<style>
    span:hover {
    background-color: white;
    color: black;
    }
</style>

{% block body %}
<body style="background-color: lightgray; margin-top: 5rem;">
    <body style="margin-top: 5rem;">

        <div class="container">
            <div class="col-sm-3"></div>
                <!-- head background color -->
                <div class="col-sm-6">
                    <br>
                    <!-- flash messages -->
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <p class="flash-message alert alert-{{ category }}" style="position:fixed; left: 50%; transform: translate(-50%, 0);">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                                    {{ message }}
                                </p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %} 
                    <p style="text-align: center;">
                        <br><br>
                    </p>
                </div>
        </div>

        <div class="container">
            <div>
                <div class="col-sm-3"></div>
                    <div class="col-sm-6" style="background-color: lightgray; padding: 2rem;">

                        <form method="post" action="{{url_for('vote_page')}}">
                            <div class="col-md-6 mx-auto">
                                <b style="font-size: 13rem; color: rgb(78	174	73);">{{ btn.btn_1 }}</b>
                                <br>
                            </div>

                            <div class="col-md-6 mx-auto">
                                <b style="font-size: 13rem; color: rgb(205 61 62);">{{ btn.btn_2 }}</b>
                                <br>
                            </div>
                        
                            <br>

                            <div class="col-md-6 mx-auto text-center">
                                <button type="submit" class="btn btn-success btn-block" id="sub_button" name="sub_button" value="button_1"><span class="glyphicon glyphicon-thumbs-up"></span></button>
                                <br> 
                            </div>
                            <div class="col-md-6 mx-auto text-center">
                                <button type="submit" class="btn btn-danger btn-block" id="sub_button" name="sub_button" value="button_2"><span class="glyphicon glyphicon-thumbs-up"></span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        $(document).ready(function() {
            setTimeout(function() {
                $('.flash-message').fadeOut('slow', function() {
                    $(this).remove();
                });
            }, 666); // Dismiss after 666 ms
        });
    </script>
</body>
{% endblock %}

